@import './styles/normalize';
@import './styles/variables';
@import './styles/fonts';


html {
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: 1050px;
    padding: 2rem 1.5rem;
}

a {
    text-decoration: none;
}

button {
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}
